* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbotron {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  padding: 50px;
}


ul  {
  list-style-type: none;
}

article {
  width: 70%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: left;
}





